#card {
  position: relative;
  width: 351px;
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: top;
  padding: 32px 8px 8px 16px;
  gap: 16px;

  & .tag {
    position: absolute;
    left: 210px;
    top: 32px;
    width: 128px;
    height: 32px;
    background: var(--base---gray-300);
    border-radius: 16px;
    font-size: 12px;
    padding-block: 2px;
    padding-inline: 8px;
    text-align: center;
    padding-top: 8px;
    font-weight: var(--fw-bold);
  }

  & header {
    width: 172px;

    & h2 {
      font-size: var(--heading---subtitle--sm);
    }

    & span {
      font-size: var(--body---text--xs);
    }
  }

  & .slots {
    position: absolute;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 312px;

    & .item {
      position: relative;
      flex: 1 1 15%;
      width: 52px;
      height: 52px;
      background-color: var(--base---gray-200);
      text-align: center;
      box-sizing: border-box;
      border-radius: 13px;
      margin: 7px;

      &>img {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 5px;
        bottom: 5px;

        & .opaco {
          opacity: 25%;
          color: gray
        }    
      }
    }

  }
}

@media (min-width: 1120px) {
  #card {
    width: 568px;
    height: 360px;

    & .tag {
      left: 420px;
    }

    & header {
      width: 306px;
    }

    & .slots {
      width: 530px;

      & .item {
        width: 88px;
        height: 88px;
        border-radius: 20px;
        margin: 12px;

        &>img {
          position: absolute;
          width: 64px;
          height: 64px;
          left: 6px;
          bottom: 15px;
        }
      }
    }
  }
}