* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Color styles */
  --main---pink: rgba(214, 88, 179, 1);
  --main---green: rgba(69, 180, 66, 1);
  --base---white: rgba(255, 255, 255, 1);
  --base---gray-100: rgba(244, 241, 242, 1);
  --base---gray-200: rgba(233, 231, 233, 1);
  --base---gray-300: rgba(223, 220, 223, 1);
  --base---gray-400: rgba(206, 202, 205, 1);
  --base---gray-500: rgba(117, 108, 113, 1);
  --base---gray-600: rgba(74, 68, 72, 1);
  --base---gray-700: rgba(51, 43, 49, 1);

  /* Text-size styles */
  /* base size: body---text--md (16px) */
  --heading---title--md: 2.5rem;
  --heading---title--sm: 2.25rem;
  --heading---subtitle--md: 1.7rem;
  --heading---subtitle--sm: 1.5rem;
  --body---text--md: 1rem;
  --body---text--sm: 1.6rem;
  --body---text--xs: 1.4rem;

  --ff-sans: 'Oxygen', system-ui, sans-serif;
  --fw-base: 300;
  --fw-md: 400;
  --fw-bold: 700;
  --fs-base: 62.5%;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.4;
  color: var(--base---gray-500);

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  background-color: var(--base---gray-200);
}

main {
  margin: 1.5rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .8rem;
  width: 100%;
}

.content>div {
  background: var(--base---gray-100);
  border: 1px solid var(--base---gray-300);
  border-radius: 16px;
  width: 351px;
}

.content div:nth-child(1),
.content div:nth-child(3) {
  height: 12.0rem;
}

.content div:nth-child(2) {
  height: 23.9rem;
}

.content div:nth-child(4) {
  height: 35.9rem;
}

strong {
  color: var(--base---gray-600);
  font-size: var(--heading---title--md);
  font-weight: var(--fw-bold);
}

h2 {
  color: var(--base---gray-500);
  font-size: var(--heading---subtitle--md);
  font-weight: var(--fw-bold);
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role='list'] {
  list-style: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 1120px) {

  .input {
    margin-top: 3.2rem;
    margin-bottom: 6.4rem;
  }

  .content {
    gap: 1.6rem;
    display: grid;
    grid-template-areas:
      "a c c"
      "b c c"
      "b d d"
    ;
  }

  .content div:nth-child(1) {
    grid-area: a;
  }

  .content div:nth-child(3) {
    grid-area: d;
    width: 568px;
  }

  .content div:nth-child(4) {
    grid-area: b;
  }

  .content div:nth-child(2) {
    grid-area: c;
    height: 100%;
    width: 568px;
  }
}