
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    /* Tamnaho da fonte */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
}

main {
    margin: 1.5rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    margin-top: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
    width: 100%;
}

.input {
    height: 3.5rem;
    border: 1px solid red;
    width: 351px;
    margin-bottom: .5rem;
}

.content > div {
    border: 1px solid red;
    width: 351px;
}

.content div:nth-child(1), .content div:nth-child(3) {
    height: 9.0rem;
}

.content div:nth-child(2) {
    height: 23.9rem;
}

.content div:nth-child(4) {
    height: 44.1rem;
}

input {
    width: 100%;
}

@media (min-width: 1120px) {

    .input {
        margin-top: 3.2rem;
        margin-bottom: 6.4rem;
    }

    .content {
        gap: 1.6rem;
        display: grid;
        grid-template-areas: 
            "a c c"
            "b c c"
            "b d d"
        ;
    }

    .content div:nth-child(1) {
        grid-area: a;
    }

    .content div:nth-child(3) {
        grid-area: d;
    }

    .content div:nth-child(4) {
        grid-area: b;
    }

    .content div:nth-child(2) {
        grid-area: c;
        height: 100%;
    }
}